.offers-detail{
  display: flex;
  align-items: center;
 .space-left{
   margin-left: 5px;
 }
}
h1{
  font-size: 19px;
  border: 2px solid rgba(18, 77, 187, 0.753);
  padding: 8px;
  border-radius: 5px ;
}
